/* display field in center of the screen */
body {
    display: flex;
    justify-content: center;
}

/* line up columns next to each other */
#field-container {
    display: flex;
}

.field-column, .hold-column, .next-column {
    padding: 0;
}

.field-column, .hold-box ul, .next-box ul {
    margin: 0;
    background-color: #1a1a1a;
}

.field-column li, .hold-box li, .next-box li {
list-style: none;
    border: 1px #666666 solid;
    /* background-color: #1a1a1a; */
    height: 32px;
    width: 32px;
    box-sizing: border-box;
}

/* field box */
.field-box {
    display: flex;
}

/* hold box */
.hold-box {
    display: flex;
    border: 2px red solid;
    height: 100px;
    margin-top: 30px;
}

/* next box */
.next-boxes {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.next-box {
    display: flex;
    border: 2px red solid;
}

.hold-box li, .next-box li {
    height: 20px;
    width: 20px;
}

/* square colors */
.yellow {
    background: #f0f000;
}

.blue {
    background: #00f0f0;
}

.dark-blue {
    background: #022ff0;
}

.purple {
    background: #9f35f0;
}

.green {
    background: #00f000;
}

.red {
    background: #f02300;
}

.orange {
    background: #f0a000;
}

/* ghost-square colors */
li.x-yellow {
    background: none;
    border: 3px #f0f000 solid;
}

li.x-blue {
    background: none;
    border: 3px #00f0f0 solid;
}

li.x-dark-blue {
    background: none;
    border: 3px #022ff0 solid;
}

li.x-purple {
    background: none;
    border: 3px #9f35f0 solid;
}

li.x-green {
    background: none;
    border: 3px #00f000 solid;
}

li.x-red {
    background: none;
    border: 3px #f02300 solid;
}

li.x-orange {
    background: none;
    border: 3px #f0a000 solid;
}