:root {
  --main-field-color: #1985cc;
}

/* display field in center of the screen */
body {
    display: flex;
    justify-content: space-around;
    padding-top: 3%;
    background-image: url('../images/tetris-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Exo 2', sans-serif;
}

/* line up columns next to each other */
#field-container-1 {
    display: flex;
    margin-left: 30px;
}

#field-container-2 {
    display: flex;
}

.field-column {
    transition: all 1s;
}

.field-column, .hold-column, .next-column {
    padding: 0;
}

.field-column, .hold-box ul, .next-box ul {
    margin: 0;
    background-color: #1a1a1a;
}

.field-column li, .hold-box li, .next-box li {
list-style: none;
    border: 1px #262626 solid;
    /* background-color: #1a1a1a; */
    height: 32px;
    width: 32px;
    box-sizing: border-box;
}

.hold-box li, .next-box li { 
    border: none;
}

/* field box */
.field-box {
    display: flex;
    border: 10px var(--main-field-color) solid;
    border-left: 13px var(--main-field-color) solid;
}

/* hold box */
.hold-box-wrapper {
    /* border: 5px var(--main-field-color) solid; */
    border-top: 5px var(--main-field-color) solid;
    /* border-left: 10px var(--main-field-color) solid; */
    border-radius: 15px 0px 0px 0px;
}

.hold-box {
    display: flex;
    /* border: 5px var(--main-field-color) solid; */
    border-bottom: 10px var(--main-field-color) solid;
    border-left: 10px var(--main-field-color) solid;
    /* border-radius: 20px 0px 0px 0px; */
    height: 80px;
    /* margin-top: 0px; */
}

/* next box */
.next-boxes {
    display: flex;
    flex-direction: column;
    height: 420px;
    border-top: 5px var(--main-field-color) solid;
    border-right: 10px var(--main-field-color) solid;
    border-bottom: 20px var(--main-field-color) solid;
    border-radius: 0px 15px 0px 0px;
}

.next-box {
    display: flex;
    /* border: 5px var(--main-field-color) solid; */
}

.next-boxes .next-box:nth-of-type(1) {
    border-radius: 0px 20px 0px 0px;
}

.next-boxes h2 {
    padding: 2px 0;
}

/* hold-box */

.hold-box li, .next-box li {
    height: 20px;
    width: 20px;
}

.hold-box li.blue,
.next-box li.blue {
    position: relative;
    left: 50%;
    bottom: 11%;
}

.hold-box li.yellow,
.next-box li.yellow {
    position: relative;
    left: 50%;
}

.hold-box li.yellow,
.hold-box li.dark,
.hold-box li.purple,
.hold-box li.green,
.hold-box li.red,
.hold-box li.orange,
.hold-box li.blue,
.hold-box li.dark-blue,
.next-box li.dark-blue,
.next-box li.yellow,
.next-box li.dark,
.next-box li.purple,
.next-box li.green,
.next-box li.red,
.next-box li.orange,
.next-box li.blue {
    border: 1px #666666 solid;
}

/* line queue */
.queue {
    width: 30px;
    height: 100%;
    background: black;
    /* border: 5px var(--main-field-color) solid; */
    border: 10px var(--main-field-color) solid;
    border-left: 12px var(--main-field-color) solid;
    border-right: 2px var(--main-field-color) solid;
    transform: rotate(180deg);
    box-sizing: border-box;
    /* display: flex; */
    /* flex-direction: column-reverse; */
}

.queue-meter {
    width: 100%;
    height: 0%;
    background: #dc3b38;
    margin: auto;
}

/* square colors */
.yellow {
    background: #f0f000;
}

.blue {
    background: #00f0f0;
}

.dark-blue {
    background: #022ff0;
}

.purple {
    background: #9f35f0;
}

.green {
    background: #00f000;
}

.red {
    background: #f02300;
}

.orange {
    background: #f0a000;
}

.grey {
    background: #8d8d8f;
}

/* ghost-square colors */
li.x-yellow {
    background: none;
    border: 3px #f0f000 solid;
}

li.x-blue {
    background: none;
    border: 3px #00f0f0 solid;
}

li.x-dark-blue {
    background: none;
    border: 3px #022ff0 solid;
}

li.x-purple {
    background: none;
    border: 3px #9f35f0 solid;
}

li.x-green {
    background: none;
    border: 3px #00f000 solid;
}

li.x-red {
    background: none;
    border: 3px #f02300 solid;
}

li.x-orange {
    background: none;
    border: 3px #f0a000 solid;
}

h2 {
    /* border-radius: 2px 0px 0px 0px; */
    font-size: 20px;
    background: var(--main-field-color);
    text-align: center;
}

#menu {
    width: 80%;
    height: 500px;
    /* margin-top: 15vh; */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
}

.button-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.button-container > *:hover {
    background: #0050e6;
    transition: all .3s;
}

.single-player-button, .multiplayer-button {
    background: #002977;
    border-radius: 20px;
    border: 5px black solid;
    font-size: 30px;
    padding: 50px;
    cursor: pointer;
    width: 200px;
    text-align: center;
}

.game-over-div {
    position: absolute;
    width: 600px;
    top: 120px;
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    border: 10px #1885cc solid;
}

.game-over-heading {
    position: relative;
    top: 30%;
    background: transparent;
    font-size: 60px;
    color: white;
}

h1 {
    font-size: 90px;
}

/* controls */

.single-player-controls {
    background: grey;
    width: 400px;
    height: 600px;
}

.controls-modal {
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.7);
    width: 100vw;
    height: 100vh;
}

.controls-container {
    display: flex;
    justify-content: space-around;
}

.controls {
    background: black;
    color: white;
    width: 400px;
    height: 400px;
    border-radius: 0 0 10px 10px;
    border: 8px var(--main-field-color) solid;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
}

.controls-modal .controls {
    margin-top: 82px;
}

.controls header {
    width: 30%;
    color: black;
    text-align: center;
    margin: 0 auto;
    border: 8px var(--main-field-color) solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    /* border-bottom: 8px black solid; */
    position: absolute;
    top: -46px;
    left: -2%;
    background: var(--main-field-color);
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.controls div {
    display: flex;
    justify-content: space-around;
}

.controls span {
    text-align: center;
}

.keyboard-key {
    width: 50px;
}

img.keyboard-key.shift-key {
    width: 110px;
}

img.keyboard-key.space-key {
    width: 300px;
}

.close-modal-link {
    color: white;
    width: 300px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    font-size: 36px;
    border: 3px white solid;
    text-decoration: underline;
    margin-top: 80px;
    cursor: pointer;
}

.close-modal-link:hover {
    background: rgba(0, 0, 0, .3);
    border: 3px #d9d9d9 solid;
    color: #d9d9d9;
    transition: all .2s;
}

/* timer */
.timer {
    display: flex;
    color: white;
    font-family: monospace;
    text-align: center;
    font-size: 40px;
}

.navbar {
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 60px;
    background: rgba(255, 255, 255, 0.8);
    text-align: center; 
    transition: all .5s; 
}

.navbar:hover {
    background: rgba(255, 255, 255, 1);
}

.social-icon {
    width: 40px;
    margin-top: 30px;
}

/* score keeper */
.scorekeeper {
    background: var(--main-field-color);
    color: white;
    font-size: 60px;
    width: 406px;
    height: 75px;
    padding-left: 10px;
}